
/************************************* Start Global *************************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color:"";
    --white-color:#fff;
    --black-color:rgb(0 0 0 / 63%);
    --gray-color:#666;
    --section-bg:#eee;
    --light-bg:#f6f6f6;
    --transition:0.7s;
    --border-radius:5px;
    --main-padding:50px;
    --circle-border:50%
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body > a {
    width: fit-content;
    display: none;
    background-color: var(--main-color);
    padding: 5px 5px 0;
    border: solid 1px var(--main-color);
    border-radius: var(--border-radius);
    position: fixed;
    z-index: 3;
    bottom: 5px;
    right: 5px;
  }
  body > a > img {
    width:30px;
  }
ul , li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:var(--white-color) ;
    transition: var(--transition);
}
h2 {
    color:var(--main-color);
    font-size: 40px;
    margin: 0 0 40px;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
}
.container {
    padding-inline: 15px;
    width: 1170px;
    max-width: 100%;
    margin: auto;
}
/************************************* End Global *************************************/
/************************************** Start Components ******************************/
/* 1- Start Modal popup */
.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:var(--black-color ) ;
    z-index: 1000;
}
.modal-content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    background-color: var(--section-bg);
    border-radius: var(--border-radius);
    padding: 10px;
    position: relative;
}
.modal-header {
    font-size: 25px;
    color: var(--main-color);
    text-align: center;
    margin: 0 0 10px;
}
.close {
    position: absolute;
    top:-10px;
    right: -10px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    background-color: var(--main-color);
    border-radius: var(--circle-border);
    color: var(--white-color);
    cursor: pointer;
    text-align: center;
}
/* End Modal popup */
/* 2- Start Settings box**/
.settings {
    min-height: 100vh;
    position: fixed;
    width: 230px;
    z-index: 4;
    background-color: var(--white-color);
    transition: var(--transition);
    left: -230px;
    border: solid 1px #f6f6f6;
}
.settings.show {
    left: 0;
    box-shadow: 0 0 10px 7px var(--white-color);
}
.setting-icon {
    position: absolute;
    top: 70px;
    right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}
 .setting-icon > .gear {
    width: 25px;
    transition: var(--transition);
}
.gear.rotate {
    transform:rotate(180deg);
}
.option-box {
    padding: 12px;
    color: var(--gray-color);
    background-color: var(--section-bg);
    border-radius:var(--border-radius);
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
.option-box > h4 {
    margin: 0;
    margin-bottom: 15px;
}
.option-box > .colors-list li {
    width:25px;
    height: 25px;
    border-radius: var(--circle-border);
    display: inline-block;
    opacity: .3;
    cursor: pointer;
}
/* color list option */
.colors-list li.active {
    opacity: 1;
}
.colors-list li:first-child {
    background-color: #2196f3;
}
 .colors-list li:nth-child(2) {
    background-color: #ff9800;
}
.colors-list li:nth-child(3) {
    background-color: #4caf50;
}
 .colors-list li:nth-child(4) {
    background-color: #e8477e;
}
 .colors-list li:nth-child(5) {
    background-color: #d04be7;
}
.random-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* random background option */
.random-btns > span,#btnReset {
    display: inline-block;
    margin: 0 15px;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: var(--border-radius);
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    opacity: .5;
}
.random-btns > span.active {
    opacity: 1;
}
.reset {
    display: block;
    width: 208px;
    text-align: center;
    opacity: 1;
    margin: 15px 10px;
    background-color: #e24a3e;
    color: var(--white-color);
    font-weight: bold;
    border-radius: var(--border-radius);
    padding: 10px;
    cursor: pointer;
}
/* End Settings */
/* 3- Start nav-bullets*/
.nav-bullets {
    position: fixed;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    width: 60px;
    z-index: 3;
    transition: var(--transition);
}
.bullet {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 20px auto;
    border: solid 3px var(--main-color);
    border-radius: var(--circle-border);
    cursor: pointer;
    transition: var(--transition);
}
.bullet:hover .tooltip {
    display: block;
}
.tooltip {
    position: absolute;
    right: 30px;
    top: -9px;
    width: 110px;
    padding: 7px;
    margin: auto;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    color: var(--white-color);
    cursor: default;
    pointer-events: none;
    display: none;
}
.tooltip::after  {
    content: '';
    position: absolute;
    right: -15px;
    top:50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent transparent var(--main-color);
  
}
/* End nav-bullets */

/************************************* Start Landing *************************************/
.landing {
    min-height: 100vh;
    background-image: url("../imgs/landing/wallpaper-1.jpg");
    background-size: cover;
    position: relative;
    transition:calc(var(--transition) + 0.5s) ;
}
.overlay {
    position: absolute;
    background-color: var(--black-color);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 2;
}
.landing .container {
    position: relative;
    z-index: 3;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: var(--white-color);
    z-index: 2;
}
.logo {
    font-weight: bold;
    width: fit-content;
    font-size: 24px;
    letter-spacing: 1.2px;
    cursor: pointer;
    color: var(--main-color);
    transition: var(--transition);
}
.logo:hover{
    text-shadow: 0 0 5px var(--main-color);
}
.links-container {
    text-align: right;
}
.links {
    display: none;
}
.links > li {
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
}
.links > li a:hover ,
.links > li a.active  {
    color: var(--main-color);
}
.toggle-menu {
background: none;
border: none;
width: 50px;
cursor: pointer;
position: relative;
}
.toggle-menu.active-menu::before {
    content: '';
    position: absolute;
    top: 23px;
    left: 16px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent var(--white-color) transparent;
}
.toggle-menu:focus {
    outline: none;
}
.toggle-menu span {
    display: block;
    margin-bottom: 7px;
    height: 4px;
    background-color: var(--white-color);
}
.content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:var(--white-color);
    width: 95%;
    z-index: 2;
}
.content > p {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 1.1px;
    padding-inline: 10px;
}
.content > h1 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}
.content > h1 > span {
    color: var(--main-color);
    transition: var(--transition);
}
/************************************* End Landing    *************************************/
/************************************* Start About us *************************************/
.about {
    display: flex;
    margin-top: var(--main-padding);
    margin-bottom: var(--main-padding);
}
.about .info-box {
    flex: 1;
    padding: 30px;
}
.about .info-box h2 {
    color: var(--main-color);
    margin: 0 0 10px;
}
.about .info-box p {    
    line-height: 1.6;
    color:var(--gray-color)
}
.about .image-box {
    flex: 1;
    text-align: center;
    position: relative;
}
.about .image-box img {
    width: 350px;
    max-width: 100%;
}
.about-overlay {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--main-color);
 border-radius: var(--circle-border);
 opacity: .2;
}
/************************************* End About us   *************************************/
/************************************* Start Skills  *************************************/
.skills {
    background-color: var(--section-bg);
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.skills .skill-box {
    display: flex;
    padding: 15px;
    background-color: var(--white-color);
    margin-bottom: 15px;
}
.skill-box .skill-name {
    width: 140px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.skill-box .skill-progress {
    height: 30px;
    width: 100%;
    background-color: var(--light-bg);
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}
.skill-box .skill-progress span  {  
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--main-color);
    transition:all  var(--transition);
}
/************************************* End Skills  *************************************/
/************************************* Start gallery ***********************************/
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.gallery .imges-box {
    text-align: center;
    display: inline-block;
}
.imges-box img {
    width: 295px;
    padding: 3px;
    margin: 5px;
    background-color: var(--light-bg);
    border:solid 1px var(--main-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: var(--transition);
}
.imges-box img:hover { 
    filter: grayscale();
}
/************************************* End gallery *************************************/
/************************************* Start timeline **********************************/
.timeline {
    background-color: var(--section-bg);
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.timeline-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.timeline-box::before {
    content: '';
    position: absolute;
    top:0;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    left:50%;
    margin-left: -1px;
}
.timeline-box > div.year {
    position: relative;
    margin: 20px auto;
    width: 50px;
    text-align: center;
    padding: 2px 5px;
    font-weight: bold;
    color: var(--white-color);
    background-color: var(--main-color);
    border-radius: var(--border-radius);
}
 .timeline-left , 
 .timeline-right  {
    width: calc(50% - 25px);
    margin-bottom: 40px;
    padding: 20px;
    position: relative;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.timeline-left {
  align-self: flex-start;
}
.timeline-right  {
    align-self: flex-end;
}
.timeline-left h3, 
 .timeline-right h3 {  
    color: var(--main-color);
    margin: 0  0 10px;
 }
 .timeline-left p, 
 .timeline-right  p {
    color: var(--gray-color);
    line-height: 1.5;
    margin: 0;
 }
.timeline-left::before ,
.timeline-right::before
{
    content: '';
    position: absolute;
    top:10px;
    width: 14px;
    height: 14px;
    background-color: var(--white-color);
    border:solid 3px var(--main-color);
    border-radius: var(--circle-border);
}
.timeline-left::before  {
    right:-35px;
}
.timeline-right::before {
    left: -35px;
}
.timeline-left::after ,
.timeline-right::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top:10px;
    border-width: 10px;
    border-style: solid;
}
.timeline-left::after {
    border-color: transparent transparent transparent  var(--white-color);
    right: -20px;
}
.timeline-right::after {
    left:-20px;
    border-color: transparent  var(--white-color) transparent transparent;
}
/************************************* End timeline ************************************/
/************************************* Start Features **********************************/
.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.features .feat-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.feat-box {
    padding: 10px;
    width: 290px;
    margin: 10px;
    background-color: var(--light-bg);
    border-radius: var(--border-radius);
    transition: var(--transition);
    border:solid 1px var(--main-color);
}
.feat-box:hover {
    transform: scale(1.05);
}
.feat-box img {
    width: 100%;
    height: 100px;
}
.feat-box h4 { 
    color: var(--main-color);
    margin:15px 0;
    text-align: center;
}
.feat-box p { 
    color: var(--gray-color);
    line-height: 1.5;
    margin: 10px;
}
/************************************** End Features **************************************/
/*************************************** Start Testimonial ********************************/
.testimonial {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    position: relative;
}
.testimonial::before ,
.testimonial::after  {
    content: "";
    position: absolute;
    width: 50%;
    top:0;
    height: 100%;
}
.testimonial::before {
    background-color: var(--main-color);
    left:0;
}
.testimonial::after {
    background-color: var(--black-color) ;
    right: 0;
}
.testimonial  h2 {
    z-index: 2;
    position: relative;
    color: var(--white-color);
}
.testimonials-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.ts-box {
    position: relative;
    width: 430px;
    max-width: 100%;
    padding:10px 15px;
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    margin: 15px;
   
}
.ts-box > q {
    line-height: 1.5;
    font-size: 14px;
    color: var(--gray-color);
    font-style: italic;
}
.person {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
    padding: 8px;
}
.person img {
    width: 85px;
    height:85px;
    border-radius: var(--circle-border);
}
.info h4 {
    margin:0 0 10px;
}
.info {
    padding-left: 15px;
}
.info p {
    margin: 0;
    color: var(--gray-color);
}
/*************************************** End Testimonial ********************************/
/*************************************** Start Contact **********************************/
.contact {
    position: relative;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-image:url("/imgs/world-map.webp") ;
}
.contact .overly {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: var(--main-color);
    opacity: .1;
}
.contact .container {
    position: relative;
    z-index: 1;
}
/* End Contact */
.contact form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 form .form-info , 
 form .form-submit {
    width: 48%;
    margin: 0 5px;
}
form textarea, input:not([type="submit"]) {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: var(--border-radius);
    border: solid 1px var(--gray-color);
}
form input {
    height: 40px;
}
form textarea {
    height: 140px;
    margin-bottom: 8px;
}
form input[type="submit"]{
    display: block;
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: var(--border-radius);
    border: transparent;
    width: 100%;
    cursor: pointer;
}
form textarea:focus, 
input:not([type="submit"]):focus {
    outline: solid 1px var(--main-color);
}
form textarea:focus::placeholder , 
input:not([type="submit"]):focus::placeholder { 
opacity: 0;
transition: var(--transition);
}
form textarea:focus::-webkit-input-placeholder , 
input:not([type="submit"]):focus::-webkit-input-placeholder { 
    opacity: 0;
    transition: var(--transition);
}
form textarea:focus:-ms-input-placeholder , 
input:not([type="submit"]):focus:-ms-input-placeholder { 
opacity: 0;
transition: var(--transition);
}
/*************************************** Start Contact **********************************/
/*************************************** Start Footer **********************************/
.footer {
    background-color: var(--black-color);
    color: var(--light-bg);
    text-align: center;
    padding: 20px;
    font-weight: bold;
    letter-spacing: 1.2px;
}
.footer img {
    width: 20px;
}
.footer span {
    color: var(--main-color);
}
/*************************************** Start Footer **********************************/

