
/************************************* Start Global *************************************/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --main-color:"";
    --transition:0.7s;
    --border-radius:5px;
    --main-padding:50px;
    --circle-border:50%
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Bellefair', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
body > a {
    width: fit-content;
    display: none;
    background-color: var(--main-color);
    padding: 5px 5px 0;
    border: solid 1px var(--main-color);
    border-radius: var(--border-radius);
    position: fixed;
    bottom: 5px;
    right: 5px;
  }
  body > a > img {
    width:30px;
  }
ul , li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color:white ;
    transition: var(--transition);
}
.container {
    padding-inline: 15px;
    width: 1170px;
    max-width: 100%;
    margin: auto;
}
/************************************* End Global *************************************/

/************************************* Start Modal popup *************************************/
.modal {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:rgb(0 0 0 / 63%);
    z-index: 1000;
}
.modal-content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    background-color: #eee;
    border-radius: var(--border-radius);
    padding: 10px;
    position: relative;
}
.modal-header {
    font-size: 25px;
    color: var(--main-color);
    text-align: center;
    margin: 0 0 10px;
}
.close {
    position: absolute;
    top:-10px;
    right: -10px;
    width: 30px;
    height: 30px;
    line-height: 25px;
    background-color: var(--main-color);
    border-radius: var(--circle-border);
    color: white;
    cursor: pointer;
    text-align: center;
}
/************************************* End Modal popup *************************************/

/************************************* Start Settings *************************************/
.settings {
    min-height: 100vh;
    position: fixed;
    width: 230px;
    z-index: 1000;
    background-color: whitesmoke;
    transition: var(--transition);
    left: -230px;
}
.settings.show {
    left: 0;
    box-shadow: 0 0 10px 7px #ccc;
}
.setting-icon {
    position: absolute;
    top: 70px;
    right: -30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--main-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}
 .setting-icon > .gear {
    width: 25px;
    transition: var(--transition);
}
.gear.rotate {
    transform:rotate(180deg);
}
.option-box {
    padding: 12px;
    color: #777;
    background-color: #ddd;
    margin: 10px;
    text-align: center;
    border-radius:var(--border-radius);
    font-size: 14px;
}
.option-box > h4 {
    margin: 0;
    margin-bottom: 15px;
}
.option-box > .colors-list li {
    width:25px;
    height: 25px;
    border-radius: var(--circle-border);
    display: inline-block;
    opacity: .3;
    cursor: pointer;
}
/* color list option */
.colors-list li.active {
    opacity: 1;
}
.colors-list li:first-child {
    background-color: #2196f3;
}
 .colors-list li:nth-child(2) {
    background-color: #ff9800;
}
.colors-list li:nth-child(3) {
    background-color: #4caf50;
}
 .colors-list li:nth-child(4) {
    background-color: #e8477e;
}
 .colors-list li:nth-child(5) {
    background-color: #d04be7;
}
.random-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* random background option */
.random-btns > span {
    display: inline-block;
    margin: 0 15px;
    background-color: var(--main-color);
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: var(--border-radius);
    cursor: pointer;
    opacity: .5;
}
.random-btns > span.active {
    opacity: 1;
}
/************************************* End Settings  *************************************/
/************************************* Start Landing *************************************/
.landing {
    min-height: 100vh;
    background-image: url("../imgs/wallpaper-1.jpg");
    background-size: cover;
    position: relative;
    transition:calc(var(--transition) + 0.5s) ;
}
.overlay {
    position: absolute;
    background-color: #00000080;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    z-index: 1;
}
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    color: white;
    z-index: 2;
}
.logo {
    font-weight: bold;
    width: fit-content;
    font-size: 24px;
    letter-spacing: 1.2px;
    cursor: pointer;
    color: var(--main-color);
    transition: var(--transition);
}
.logo:hover{
    text-shadow: 0 0 5px var(--main-color);
}
.links > li {
    margin-left: 15px;
    cursor: pointer;
    display: inline-block;
}
.links > li a:hover ,
.links > li a.active  {
    color: var(--main-color);
}
.content {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:white;
    width: 100%;
    z-index: 2;
}
.content > p {
    margin: 0;
    line-height: 1.5;
    letter-spacing: 1.1px;
    padding-inline: 10px;
}
.content > h1 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 20px;
}
.content > h1 > span {
    color: var(--main-color);
    transition: var(--transition);
}
/************************************* End Landing    *************************************/
/************************************* Start About us *************************************/
.about {
    display: flex;
    margin-top: var(--main-padding);
    margin-bottom: var(--main-padding);
}
.about .info-box {
    flex: 1;
    padding: 30px;
}
.about .info-box h2 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 10px;
}
.about .info-box p {    
    line-height: 1.6;
    color:#766d6d
}
.about .image-box {
    flex: 1;
    text-align: center;
    position: relative;
}
.about .image-box img {
    width: 350px;
}
.about-overlay {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--main-color);
 opacity: .2;
 border-radius: var(--circle-border);
}
/************************************* End About us   *************************************/
/************************************* Start Skills  *************************************/
.skills {
    background-color: #eee;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.skills h2 {
    color:var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 30px;
    text-align: center;
}

.skills .skill-box {
    display: flex;
    padding: 15px;
    background-color: white;
    margin-bottom: 15px;
}
.skill-box .skill-name {
    width: 120px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.skill-box .skill-progress {
    height: 30px;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}
.skill-box .skill-progress span  {  
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background-color:var(--main-color);
    transition:all  var(--transition);
}
/************************************* End Skills  *************************************/
/* Start gallery */
.gallery {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}
.gallery h2{
    color:var(--main-color);
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 30px;
    text-align: center;
}
.gallery .imges-box {
    text-align: center;
}
.gallery .imges-box img {
    width: 200px;
    background-color: #f6f6f6;
    padding: 3px;
    margin: 5px;
    border:solid 1px #ccc;
    border-radius: var(--border-radius);
    cursor: pointer;
}
/* End gallery */