/* Start Media Queries -Grid system-*/

/* small phones screen */
@media (max-width:575px) {
    .content h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 30px;
    }
    .about {
        display: block;
        text-align: center;
    }
    .info-box {
        padding: 0 !important;
    }
    .modal-content {
        width:92%;
    }
    .skill-box {
        display: block !important;
    }
    .skill-name {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .timeline-left , 
    .timeline-right  {
       width: 100% !important;
    }
    .timeline-left::before ,
    .timeline-right::before
    {
      display: none !important;
    }
    .timeline-left::after ,
    .timeline-right::after {
        display: none !important;
     }
     .feat-box {
        width: 360px!important;
     }
     .form-info,.form-submit {
        width: 95% !important;
    }
}
@media (max-width:767px) {
    .about {
        display: block;
        text-align: center;
    }
    .info-box {
        padding: 0 !important;
    }
    .modal-content {
        width:92%;
    }
    .skill-box {
        display: block !important;
    }
    .skill-name {
        width: 100% !important;
        margin-bottom: 10px;
    }
    .timeline-left , 
    .timeline-right  {
      width: 100% !important;
    }
    .timeline-left::before ,
    .timeline-right::before
    {
       display: none !important;
    }
    .timeline-left::after ,
    .timeline-right::after {
        display: none !important;
     }
     .feat-box {
        width: 360px!important;
     }
     .form-info,.form-submit {
        width: 95% !important;
    }
}
/* Small devices > phones */
@media (min-width:576px) {
    .container { 
        width: 540px;
    }
}
/* Medium devices > tablets */
@media (min-width:768px) {
    .container { 
        width: 720px;
    }
}
/* Desktop */
@media (min-width:992px) {
    .container { 
        width: 960px;
    }
    .links {
        display: inline-block;
        cursor: pointer;
    }
    .toggle-menu {
        display: none;
    }
}
/* Large screens */
@media (min-width:1200px) {
    .container { 
        width: 1140px;
    }
    .links {
        display: inline-block;
    }
    .toggle-menu {
        display: none;
    }
}
/* toggle menu media */
@media (max-width:991px) {
    .links.open {
        background-color: var(--white-color);
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        top: 67px;
        text-align: left;
        font-weight: bold;
        border-radius: var(--border-radius);
        z-index: 3;
    }
    .links.open li {
        display: block;
        margin: 5px 10px;
        padding: 3px 0px 5px 3px;
    }
    .links.open li:not(:last-child){
        border-bottom: solid 1px var(--main-color);
    }
    .links.open  li a {
        color: var(--main-color);
    }
   
}